// Copyright (c) 2016 Kartik Kumar, Dinamica Srl (me@kartikkumar.com)
// Distributed under the MIT License.
// See accompanying file LICENSE.md or copy at http://opensource.org/licenses/MIT
{
    // Directory containing input files.
    "input_directory"           : "",

    // Input data files.
    // N.B. the input file must be in CSV format!
    "chaser_thrust"             : "",

    // Directory where 2D figure is stored.
    "output_directory"          : "",

    // Filename for 2D figure.
    "2D_figure"                 : "",

    // Characteristics for figures.
    "figure_dpi"                :
}